body {
    margin: 0;
    overflow: hidden;
    color: var(--neutral-foreground-rest);
}

#control-panel {
    width: 1200px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

#hierarchy-panel {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 0;
    overflow-y: auto;
}

#runtime-panel {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 400px;
}

#inspector-panel {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 800px;
    overflow-y: auto;
}

#file-panel {
    width: 400px;
    height: 280px;
    position: absolute;
    top: 500px;
    left: 0;
    overflow-y: auto;
}

#assets-panel {
    width: 800px;
    height: 280px;
    position: absolute;
    top: 500px;
    left: 400px;
    overflow-y: auto;
}

.control-element {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
}