body {
    margin: 0;
    overflow: hidden;
    color: var(--neutral-foreground-rest);
}

#control-panel {
    position: absolute;
}

#hierarchy-panel {
    position: absolute;
    overflow-y: auto;
}

#runtime-panel {
    position: absolute;
}

#inspector-panel {
    position: absolute;
    overflow-y: auto;
}

#file-panel {
    position: absolute;
    overflow-y: auto;
}

#assets-panel {
    position: absolute;
    overflow-y: auto;
}

#file-handle-panel {
    position: absolute;
    overflow-y: auto;
}

.control-element {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
}